<% include ../partials/header %>
    

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center"><%= user.username.toUpperCase %>'s Info</h1>
            <br>
            <form action="/members/<%= user.id %>?_method=PUT" method="POST" encType="multipart/form-data">
                <div class="form-center">
                    <div class="form-group">
                        <h4>First Name</h4>
                        <input type="text" class="form-control" name="firstName" value="<%= user.firstName %>">
                    </div>
                    <div class="form-group">
                        <h4>Last Name</h4>
                        <input type="text" class="form-control" name="lastName" value="<%= user.lastName %>">
                    </div>
                    <div class="form-group">
                        <h4>Call Sign</h4>
                        <input class="lowercase form-control" type="text" oninput="this.value=this.value.toLowerCase()" name="callsign" value="<%= user.username %>">
                    </div>
                    <div class="form-group">
                        <h4>Phone</h4>
                        <input type="text" class="form-control" name="phone" value="<%= user.phone %>">
                    </div>
                    <div class="form-group">
                        <h4>Email</h4>
                        <input type="text" class="form-control" name="email" value="<%= user.email %>">
                    </div>
                    <div class="form-group">
                        <h4>Mailing Address</h4>
                        <input type="text" class="form-control" name="address" value="<%= user.address %>">
                    </div>
                    <div class="form-group">
                        <h4>City, State, Zip Code</h4>
                        <input type="text" class="form-control" name="ctyStZip" value="<%= user.ctyStZip %>">
                    </div>
                    <div class="form-group">
                        <h4>ARRL Member</h4>
                        <input type="radio" name="arrl" required="required" value="true" <% if(user.arrl === true){ %> checked <% } %>> Yes 
                        <input type="radio" name="arrl" required="required" value="false" <% if(user.arrl === false){ %> checked <% } %>> No 
                    </div>
                </div>
                <div class="text-center">
                    <div class="">
                        <h4>Profile Image</h4>
                        <div class="container">
                            <img class="thumbnail" src="<%= user.profileImage %>">
                        </div>
                        <input class="" type="file" name="doc">
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-center">
                <h1>Notification Settings</h1>
                <br>
                <div class="">
                        <h4>Radiomarket Notifications</h4>
                        <p>Receive email notifications on items you post in the Radiomarket</p>
                        <input type="radio" name="marketNotify" required="required" value="true" <% if(user.marketNotify === true){ %> checked <% } %>> On 
                        <input type="radio" name="marketNotify" required="required" value="false" <% if(user.marketNotify === false){ %> checked <% } %>> Off 
                    </div>
                    <div class="form-group head-room">
                        <h4>Message Notifications</h4>
                        <p>Receive an email notification anytime someone messages you on the SMARC website</p>
                        <input type="radio" name="messageNotify" required="required" value="true" <% if(user.messageNotify === true){ %> checked <% } %>> Yes 
                        <input type="radio" name="messageNotify" required="required" value="false" <% if(user.messageNotify === false){ %> checked <% } %>> No 
                    </div>
                    <h1>Status Settings</h1>
                    <br>
                    <div class="form-group head-room">
                        <h4>Elmer</h4>
                        <p>Would you like to be listed as an elmer in the member's section?</p>
                        <input type="radio" name="elmer" required="required" value="true" <% if(user.isElmer === true){ %> checked <% } %>> Yes 
                        <input type="radio" name="elmer" required="required" value="false" <% if(user.isElmer === false){ %> checked <% } %>> No 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group" style="width: 80%">
                    <h4>About Me</h4>
                    <textarea class="form-control" type="text" name="about" id="htmeditor"><%= user.aboutMe %></textarea><script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="htmeditor" full_screen="no" editor_height="800" run_local="no"> </script> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group form-center">
                    <input class="btn btn-primary" style="width: 50%" type="submit">
                </div>
            </div>
        </div>
            </form>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="color: red">CAUTION!</h1>
                    <h3 style="color: red">Please be aware this action can not be undone.</h3>
                    <br>
                    <form id="delete-form" action="/members/<%= user.id %>/remove?_method=DELETE" method="POST">
                        <input onclick="return ConfirmDelete()" type="submit" class="btn btn-xs btn-danger" value="Delete My Account">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmDelete()
    {
      var x = confirm("Are you sure you wish to delete this user account? All account data will be removed.");
      if (x)
          return true;
      else
        return false;
    }
</script>  
<script>        
    element.addEventListener('input',function(){this.value=this.value.toLowerCase()});​
</script>
<% include ../partials/footer %>