<% include ../partials/header %>
<div class="page-center">
<div class="container">
    <div class="row form-media">
    <% include ../partials/sidebar %>
        <br>
        <table class="table table-hover table-bordered">
            <div class="row align-items-center justify-content-center">
                <% members.forEach(function(member){ %>
                <% if(member.isMember === true){ %>
                <a href="/members/<%= member.id %>">
                    <div class="col-md-3 col-sm-12 align-items-center justify-content-center">
                        <div class="well custom-well text-center">
                            <% var callsign = member.username.toUpperCase() %>
                            <h4><%= member.firstName %> <%= member.lastName %></h4>
                            <h5><%= callsign %></h5>
                            <img class="center-block img-responsive img-rounded" src="<%= member.profileImage %>">
                            <div class="">
                                <p><a href="mailto:<%= member.email %>"><%= member.email %></a></p>
                                <p class="">Click for more info</p>
                                <% if(currentUser && currentUser.id === member.id) { %>
                                    <a href="/members/<%= member.id %>" class="glyphicon glyphicon-pencil"></a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
                <% }) %>
            </div>
        </table>
    </div>
</div>
</div>

<% include ../partials/footer %>
