<% include ../partials/header %>
<div class="page-center">
<div class="container">
    <div class="row form-media">
    <% include ../partials/sidebar %>
    <h1 class="text-center">Member List</h1>
        <br>
        <table class="table table-hover table-bordered">
            <thead>	
                <tr>
                    <th>Name</th>
                    <th>Call Sign</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>ARRL</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <% members.forEach(function(member){ %>
            <% var callsign = member.username.toUpperCase() %>
            <tbody>
                <% if(member.isMember === true){ %>
                <tr>
                    <td><%= member.lastName %>, <%= member.firstName %></td>
                    <td><%= callsign %></td>
                    <td><a href="mailto:<%= member.email %>"><%= member.email %></a></td>
                    <td><a href="tel:<%= member.phone %>"><%= member.phone %></a></td>
                    <th><%= member.address %> <%= member.ctyStZip %></th>
                    <th><% if(member.arrl === true){ %> Yes <% } else if(member.arrl === false){ %> No <% } else { %>
                        N/A
                    <% } %></th>
                    <td><img class="profile-image" src="<%= member.profileImage %>"></td>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
        </table>
    </div>
</div>
</div>

<% include ../partials/footer %>
