<% include ../partials/header %>
<div class="container mt-3 mb-3">
    <h1 class="text-center">Minutes</h1>
    <div class="row">
        <div class="col-md-12">
          <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                New Minutes
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Minutes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <form action="/minutes" method="POST" encType="multipart/form-data">
                              <div class="input-group mt-3">
                                  <label class="input-group-text" for="">Date</label>
                                  <input class="form-control" type="date" name="date" required>
                              </div>
                              <div class="input-group mt-3">
                                <label class="input-group-text" for="">Type</label>
                                <select name="type" class="form-select" required>
                                    <option selected>Select an option</option>
                                    <option value="Staff">Staff</option>
                                    <option value="Club">Club</option>
                                </select>
                            </div>
                              <div class="input-group mt-3">
                                  <input class="form-control" type="file" name="doc" required>
                              </div>
                              <div class="form-group mt-3 text-center">
                                  <button class="btn btn-primary btn-block">Submit</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
          <% } %>
        </div>
    </div>
      <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
           <% foundMinutes.forEach((minute) => { %>
               <div class="col-md-3 col-sm-6 mt-3">
                   <div class="card card-full-height shadow-lg pt-3 pb-3">
                      <div class="caption">
                        <h4><%= minute.date %></h4>
                        <p><%= minute.type %> <% if(minute.type !== "Archive"){ %> Meeting <% } %></p>
                        <a class="btn btn-sm btn-primary" role="button" data-toggle="collapse" target="_blank" href="<%= minute.docLoc %>" aria-expanded="false" aria-controls="collapseExample">
                          View Online
                        </a>
                        <div class="head-room">
                          <a class="" href="<%= minute.docLoc %>" download="SMARC_Minutes_<%= minute.date %>.doc">Download</a>
                        </div>
                      </div>
                      <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <button type="button" class="no-button" data-bs-toggle="modal" data-bs-target="#min<%= minute.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                        <div class="modal fade" id="min<%= minute.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">New Minutes</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/minutes/<%= minute.id %>?_method=PUT" method="POST" encType="multipart/form-data">
                                            <div class="input-group mt-3">
                                                <label class="input-group-text" for="">Date</label>
                                                <input class="form-control" value="<%= minute.date %>" type="date" name="date" required>
                                            </div>
                                            <div class="input-group mt-3">
                                              <label class="input-group-text" for="">Type</label>
                                              <select name="type" class="form-select" required>
                                                  <option>Select an Option...</option>
                                                  <option <% if(minute.date === "Staff"){ %> selected <% } %> value="Staff">Staff</option>
                                                  <option <% if(minute.date === "Club"){ %> selected <% } %> value="Club">Club</option>
                                                  <option <% if(minute.date === "Archive"){ %> selected <% } %> value="Archive">Archive</option>
                                              </select>
                                          </div>
                                            <div class="input-group mt-3">
                                                <input class="form-control" type="file" name="doc">
                                            </div>
                                            <div class="form-group mt-3 text-center">
                                                <button type="submit" class="btn btn-primary btn-md">Submit</button>
                                                <a onclick="return deleteForm()" class="btn btn-md btn-danger">Delete</a>
                                            </div>
                                    </form>
                                    <form action="/minutes/<%= minute._id %>?_method=DELETE" method="POST" hidden>
                                      <button type="submit" id="deleteButton" class="btn btn-sm btn-danger">delete</button>
                                    </form>
                                </div>
                            </div>
                           </div>
                        </div>
                      <% } %>
                   </div>
               </div>
           <% }) %>
       </div>
     </div>
   </div>
</div>
<% include ../partials/footer %>


<script>
    function ConfirmDelete()
    {
      var x = confirm("Are you sure you wish to permanently delete this?");
      if (x) {
        return true;
      } else {
        return false;
      }
    }
    function deleteForm(){
      ConfirmDelete();
      document.getElementById("deleteButton").click()
    }
  </script>   