<% include ../partials/header %>
<div class="container mt-3 mb-3">
    <h1 class="text-center">Codeplugs</h1>
    <div class="row">
        <div class="col-md-12">
          <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>

              <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                New Codeplug
              </a>
                <div class="collapse" id="collapseExample">
                  <div class="container">
                    <div class="row">
                        <h1 style="text-align: center">New Codeplug</h1>
                        <div style="width: 30%; margin: 25px auto;">
                            <form action="/codeplugs" method="POST" encType="multipart/form-data">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="title" placeholder="Radio Brand">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="model" placeholder="Radio Model">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="firmware" placeholder="Firmware Version">
                                </div>
                                <div class="form-group text-center">
                                  RT Systems file <input class="" type="checkbox" name="rt" value="true">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="date" name="date" placeholder="Date">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" type="date" name="coverage" placeholder="Coverage Areas" rows="10" cols="50"></textarea>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="file" name="doc">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                                </div>
                            </form>
                            <a href="/codeplugs/">Go Back</a>
                        </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
          <% } %>
        </div>
      </div>
      <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
           <% foundCodeplugs.reverse().forEach(function(cps){ %>
               <div class="col-md-3 col-sm-6">
                   <div class="card">
                      <div class="caption">
                        <h4><%= cps.title %></h4>
                        <h5><%= cps.model %></h5>
                        <% if(cps.firmware){ %>
                          <h5 >FW: <%= cps.firmware %></h5>
                        <% } %>
                        <% if(cps.rt === true){ %>
                          <p><em>RT Systems File</em></p>
                        <% } %>
                        <p><%= cps.date %></p>
                        <a class="" role="button" data-toggle="collapse" href="#<%= cps.id %>" aria-expanded="false" aria-controls="collapseExample">
                          Coverage Area
                        </a>
                        <div class="collapse mt-3" id="<%= cps.id %>">
                          <div class="card">
                          <% if(cps.coverage){ %>
                            <p><%= cps.coverage %></p>
                          <% } else { %>
                            <p>More info coming soon</p>
                          <% } %>
                          </div>
                        </div>
                        <div class="head-room">
                          <a class="btn btn-md btn-primary" href="<%= cps.docLoc %>" download="<%= cps.title %>">Download</a>
                        </div>
                      </div>
                      <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                          <a href="/codeplugs/codeplugscollection/<%= cps._id %>" class="glyphicon glyphicon-pencil">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                          </a>
                      <% } %>
                   </div>
               </div>
           <% }) %>
       </div>
     </div>
   </div>
</div>
<% include ../partials/footer %>
