<% include partials/header %>
<div class="page-center">
<div class="container">    
    <div class="row container picture-center">
        <div class="col-md-4">
            <img class="img-circle" src="images/SmarcMeeting.jpg"/>
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="images/991a_655.jpg" />
        </div>
        <div class="col-md-4">
            <img class="img-circle" src="images/IMG_3965.jpg"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row form-media">
        
        <div class="col-md-10 col-sm-6">
                <% foundHome.forEach(function(foundHome){ %>
            <div class="well well-lg well-blue">
                <h2 class="title-center">
                    <%= foundHome.title %>
                </h2>
                <hr>
                <p>
                    <%= foundHome.body %> 
                </p>
                <hr>
                <div class="text-center">
                    <a href="<%= foundHome.link1 %>"><%= foundHome.link1name %></a>
                    <a href="<%= foundHome.link2 %>"><%= foundHome.link2name %></a>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="col-md-2 col-sm-6">
            <div>
                <form method="post" action="https://www.qrz.com/lookup" style="display:inline" >
                    <b>QRZ callsign lookup:<b>
                    <input type="text" name="callsign" size="10" />
                    <input type="submit" value="Search" /></b>
                </form>
                <iframe class="title-center" style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=111020" width="155" height="228" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;height: 20px;position: relative;z-index: 1;margin: -20px 0 0 0;display: block" href="https://www.willyweather.com/tn/blount-county/maryville.html" rel="nofollow">maryville weather information</a>
                <center class="title-center">
                    <a href="http://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="http://www.hamqsl.com/solarvhf.php"></a>
                </center>
            </div>
            
        </div>
    </div>
</div>
</div>

<% include partials/footer %>