<% include partials/header %>
<div class="page-center">
    <div class="container">
        <div class="row">
            <div class=col-md-12>
                    <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <hr>
                        <a class="btn btn-primary btn-sm" href="/home/new">New Home Entry</a>
                    <% } else { %>
                    <% } %>
            </div>
        </div>
        <div class="row form-media">
            <div class="col-md-10 col-sm-6">
                    <% foundHome.forEach(function(foundHome){ %>
                <div class="well well-lg well-blue">
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <a href="/home/<%= foundHome._id %>" class="glyphicon glyphicon-pencil"></a>
                    <% } else { %>
                    <% } %>
                    <h2 class="title-center">
                        <%= foundHome.title %>
                    </h2>
                    <hr>
                    <p>
                        <%- foundHome.body %> 
                    </p>
                    <hr>
                    <div class="text-center">
                        <% if(!foundHome.link1){ %>
                        
                        <% } else { %>
                            <a class="btn btn-primary btn-sm" href="<%= foundHome.link1 %>"><%= foundHome.link1name %></a>
                        <% } %> 
                        <% if(!foundHome.link2){ %>
                            
                        <% } else { %>
                            <a class="btn btn-primary btn-sm" href="<%= foundHome.link2 %>"><%= foundHome.link2name %></a>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
            <div class="col-md-2 col-sm-6">
                <div>
                    <% nets.forEach(function(ncs){ %>
                        <% if(ncs.date >= today && ncs.date < weekFrom){ %>
                            <div class="well well-md text-center">
                                <h5><% if(ncs.date === today){ %> Today's NCS <% } else { %> This Week's NCS <% } %> </h5>
                                <div class="">
                                    <div class="text-center form-media">
                                        <% if(ncs.ncs.profileImage){ %>
                                            <img class="center-block img-responsive img-rounded" src="<%= ncs.ncs.profileImage %>" alt="">
                                        <% } else { %>
                                            <img class="center-block img-responsive img-rounded" src="/images/SMARC_Blank_Officer.png" alt="">
                                        <% } %>
                                    </div>
                                </div>
                                <p class="form-media"><%= ncs.ncs.firstName %></p>
                                <p><%= ncs.ncs.username.toUpperCase() %></p>
                            </div>
                        <% } %>
                    <% }) %>
                </div>  
                <div>
                    <form method="post" action="https://www.qrz.com/lookup" style="display:inline" >
                        <h4>Callsign Lookup<h4>
                        <input type="text" name="callsign" size="14" />
                        <div>
                            <input type="submit" value="Search" /></h4>
                        </div>
                    </form>
                    <iframe class="title-center" style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=111020" width="155" height="228" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;height: 20px;position: relative;z-index: 1;margin: -20px 0 0 0;display: block" href="https://www.willyweather.com/tn/blount-county/maryville.html" rel="nofollow">maryville weather information</a>
                    <center class="title-center">
                        <a href="http://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="http://www.hamqsl.com/solarvhf.php"></a>
                    </center>
                </div>
                
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>