<% include partials/header %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                    <a class="btn btn-primary btn-sm" href="/home/new">New Home Entry</a>
                    <hr>
                <% } %>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-9 col-sm-12">
                    <% foundHome.forEach(function(foundHome){ %>
                <div class="card mb-2">
                    <div class="card-header">
                        <h2 class="text-center">
                            <%= foundHome.title %>
                        </h2>
                        <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true){ %>
                            <a href="/home/<%= foundHome._id %>" class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <%- foundHome.body %> 
                    </div>
                    <hr>
                    <div class="card-footer text-center">
                        <% if(!foundHome.link1){ %>
                        
                        <% } else { %>
                            <a class="btn btn-primary btn-sm" href="<%= foundHome.link1 %>"><%= foundHome.link1name %></a>
                        <% } %> 
                        <% if(!foundHome.link2){ %>
                            
                        <% } else { %>
                            <a class="btn btn-primary btn-sm" href="<%= foundHome.link2 %>"><%= foundHome.link2name %></a>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
            <div class="col-sm-12 col-lg-3 mb-2">
                <div>
                    <% nets.forEach(function(ncs){ %>
                        <% if(ncs.ncs){ %>
                            <% if(ncs.date >= today && ncs.date < weekFrom){ %>
                                <div class="card text-center">
                                    <div class="card-header">
                                        <h2><% if(ncs.date === today){ %> Today's NCS <% } else { %> This Week's NCS <% } %> </h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="d-fles justify-content-center">
                                            <img class="rounded img-fluid" src="<%= ncs.ncs.profileImage %>" alt="">
                                        </div>
                                    </div>
                                    <h3 class="form-media"><%= ncs.ncs.firstName %></h3>
                                    <h3><%= ncs.ncs.username.toUpperCase() %></h3>
                                </div>
                            <% } %>
                        <% } %>
                    <% }) %>
                </div>  
                <div class="card d-flex justify-content-center mt-2 text-center">
                    <form method="post" action="https://www.qrz.com/lookup" class="justify-content-center" style="display:inline" >
                        <div class="card-header">
                            <h4>Callsign Lookup<h4>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" name="callsign" size="14" />
                            <input type="submit" class="btn btn-md btn-success mt-2" value="Search" />
                        </div>
                    </form>
                </div>
                
                <div class="d-flex justify-content-center mt-2">
                    <iframe class="d-flex justify-content-center" style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=111020" width="400" height="228" frameborder="0" scrolling="no"></iframe><a style="text-indent: -9999em;height: 20px;position: relative;z-index: 1;margin: -20px 0 0 0;display: block" href="https://www.willyweather.com/tn/blount-county/maryville.html" rel="nofollow">maryville weather information</a>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <center>
                        <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!"><img src="https://www.hamqsl.com/solarsun.php"></a>
                    </center>
                </div>
                        
                
                
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>