<% include ./partials/header %>

<div class="container-fluid mt-3 mb-3">
    <div class="row form-media container-fluid">
        <table class="table table-dark table-striped">
            <thead>	
                <tr>
                    <th>Net</th>
                    <th>Weekday</th>
                    <th>Time</th>
                    <th>Frequency (MHz)</th>
                    <th>Tone (Hz)</th>
                    <th>Alt. Frequency (MHz)</th>
                    <th>Alt Tone (Hz)</th>
                        <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true){ %>
                        <th>Verified</th>
                        <th>
                            Edit
                        </th>
                        <% } %>
                </tr>
            </thead>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day !== 'Monday' && nets.day !== 'Tuesday' && nets.day !== 'Wednesday' && nets.day !== 'Thursday' && nets.day !== 'Friday' &&  nets.day !== 'Saturday' && nets.day !== 'Sunday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true){ %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Monday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Tuesday' && nets.verified === true) { %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>                        
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Wednesday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Thursday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Friday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Saturday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Sunday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                        <td>
                            <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>                        
                        </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
        </table>
    </div>
    <hr>
    <div class="text-center">
        <h4>If you would like to add a net to this list, please fill out the form below.</h4>
        <div class="form-check form-check-inline">
            <form action="/netsched" method="POST">
                <div class="row input-group">
                    <div class="col-md-2">
                        <h4>Net Name</h4>
                        <input class="form-control" type="text" name="net">
                    </div>
                    <div class="col-md-2">
                        <h4>Web Link</h4>
                        <input class="form-control" type="text" name="externalLink">
                    </div>
                    <div class="col-md-2">
                        <h4>Weekday</h4>
                        <input class="form-control" type="text" name="day">
                    </div>
                    <div class="col-md-2">
                        <h4>Time</h4>
                        <input class="form-control" type="text" name="time">
                    </div>
                    <div class="col-md-2">
                        <h4>Frequency</h4>
                        <input class="form-control" type="text" name="freq">
                    </div>
                    <div class="col-md-2">
                        <h4>Tone</h4>
                        <input class="form-control" type="text" name="tone">
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <div class="col-md-2">
                        <h4>Alt Frequency</h4>
                        <input class="form-control" type="text" name="altFreq">
                    </div>
                    <div class="col-md-2">
                        <h4>Alternate Tone</h4>
                        <input class="form-control" type="text" name="altTone">
                    </div>
                    <br>
                    <br>
                    <div class="col-md-2 mt-3">
                        <button class="btn btn-md btn-primary btn-block mt-3">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>	
</div>

<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>


<% include ./partials/footer %>
