<% include ./partials/header %>

<div class="page-center">
    <div class="container">
    <div class="row form-media">
        <table class="table table-hover table-bordered">
        <thead>	
            <tr>
                <th>Net</th>
                <th>Weekday</th>
                <th>Time</th>
                <th>Frequency (MHz)</th>
                <th>Tone (Hz)</th>
                <th>Alt. Frequency (MHz)</th>
                <th>Alt Tone (Hz)</th>
            </tr>
        </thead>
        <% foundNets.forEach(function(nets){ %>
        <tbody>
            <tr>
                <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                <td><%= nets.day %></td>
                <td><%= nets.time %></td>
                <td><%= nets.freq %></td>
                <th><%= nets.tone %></th>
                <td><%= nets.altFreq %></td>
                <td><%= nets.altTone %></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    </div>
    <div class="text-center"><p>If you would like your net added to this list, please click <a type="email" href="mailto:webmaster@w4olb.org">here</a> to email our website administrator.</p></div>
</div>
</div>	
</div>
</div>

<% include ./partials/footer %>
