<% include ./partials/header %>

<div class="page-center">
    <div class="container">
    <div class="row form-media">
        <table class="table table-hover table-bordered">
            <thead>	
                <tr>
                    <th>Net</th>
                    <th>Weekday</th>
                    <th>Time</th>
                    <th>Frequency (MHz)</th>
                    <th>Tone (Hz)</th>
                    <th>Alt. Frequency (MHz)</th>
                    <th>Alt Tone (Hz)</th>
                        <% if(!currentUser){ %>
                        <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <th>Verified</th>
                        <th>
                            Edit
                        </th>
                        <% } else { %>
                        <% } %>
                </tr>
            </thead>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day !== 'Monday' && nets.day !== 'Tuesday' && nets.day !== 'Wednesday' && nets.day !== 'Thursday' && nets.day !== 'Friday' &&  nets.day !== 'Saturday' && nets.day !== 'Sunday'){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Monday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Tuesday' && nets.verified === true) { %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Wednesday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Thursday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Friday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
             <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Saturday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
            <% foundNets.forEach(function(nets){ %>
            <% if(nets.day == 'Sunday' && nets.verified === true){ %>
            <tbody>
                <tr>
                    <td><a href="http://<%= nets.externalLink %>"><%= nets.net %></a></td>
                    <td><%= nets.day %></td>
                    <td><%= nets.time %></td>
                    <td><%= nets.freq %></td>
                    <th><%= nets.tone %></th>
                    <td><%= nets.altFreq %></td>
                    <td><%= nets.altTone %></td>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <% if(nets.verified === true){ %>
                            <td>
                                Yes
                            </td>
                        <% } else { %>
                            <td>
                                No
                            </td>
                        <% } %>
                    <td>
                        <a class="glyphicon glyphicon-pencil" href="/netsched/<%= nets.id %>"></a>
                    </td>
                    <% } else { %>
                    <% } %>
                </tr>
            </tbody>
            <% } %>
            <% }) %>
        </table>
    </div>
    <div class="text-center">
        <h4>If you would like to add a net to this list, please fill out the form below.</h4>
        <div class="form-check form-check-inline">
            <form action="/netsched" method="POST">
                <div class="row">
                    <div class="col-md-2">
                        <h4>Net Name</h4>
                        <input class="form-control" type="text" name="net">
                    </div>
                    <div class="col-md-2">
                        <h4>Web Link</h4>
                        <input class="form-control" type="text" name="externalLink">
                    </div>
                    <div class="col-md-2">
                        <h4>Weekday</h4>
                        <input class="form-control" type="text" name="day">
                    </div>
                    <div class="col-md-2">
                        <h4>Time</h4>
                        <input class="form-control" type="text" name="time">
                    </div>
                    <div class="col-md-2">
                        <h4>Frequency</h4>
                        <input class="form-control" type="text" name="freq">
                    </div>
                    <div class="col-md-2">
                        <h4>Tone</h4>
                        <input class="form-control" type="text" name="tone">
                    </div>
                </div>
                <br>
                <div class="row text-center">
                    <div class="col-md-2">
                        <h4>Alt Frequency</h4>
                        <input class="form-control" type="text" name="altFreq">
                    </div>
                    <div class="col-md-2">
                        <h4>Alternate Tone</h4>
                        <input class="form-control" type="text" name="altTone">
                    </div>
                    <br>
                    <br>
                    <div class="col-md-2">
                        <button class="btn btn-md btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>	
</div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>


<% include ./partials/footer %>
