<% include ../partials/header %>

<div class="page-center">
    <div class="container">
            
        <div class="row form-media">
        <% include ../partials/sidebar %>
        </div>
        <div class="row">
            <div class=col-md-12>
                <% if(!currentUser){ %>
                <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                    <hr>
                    <a class="btn btn-primary btn-sm" href="/info/minutes/minutescollection/new">New Minutes</a>
                <% } else { %>
                <% } %>
            </div>
        </div>
        <div class="row form-media">
            <% for(var i = 0; i < foundMinutes.length; i++) { %>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= foundMinutes[i]._id %>" aria-expanded="false" aria-controls="collapseTwo">
                                <%= foundMinutes[i].date %>
                            </a>
                        </h4>
                    </div>
                    <div id="<%= foundMinutes[i]._id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p>
                                    <%- foundMinutes[i].minutes %> 
                                </p>
                                <% if(!currentUser){ %>
                                <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                                <a href="/info/minutes/minutescollection/<%= foundMinutes[i]._id %>" class="glyphicon glyphicon-pencil"></a>
                                <hr>
                                <% } else { %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>

