<% include ../partials/header %>

<div class="container mt-3 mb-3">
        <div class="row form-media">
        <% include ../partials/sidebar %>
            <div class="col-md-8 col-sm-12 card mt-3">
                <div class="card-header">
                    <h1 class="text-center">Smoky Mountain Amateur Radio Club</h1>
                    <h2 class="text-center">SMARC Net Control Station Procedure</h2>
                </div>
                <div class="card-body">
                    <h4>
                        This is 
                                <% for(var i = 0; i < foundNet.length; i++){ %>
                                    <% if(foundNet[i].date === today){ %>
                                        <%= foundNet[i].ncs.username.toUpperCase() %>
                                    <% } %>
                                <% } %> 
                        calling the SMARC (W4OLB - 146.655 Mhz toned to 100 Mhz)
                        is this frequency in use? <em>**PAUSE**</em> I am your Net Control Station (NCS) 
                        for this session and my name is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ var firstName = net.ncs.firstName.toUpperCase() %>
                                <%= firstName %>.
                            <% } %>
                        <% }) %>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This net is currently activated as an open net to all SMARC members and hams 
                        who are interested in promoting the hobby. This is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ %>
                                <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %>
                         standing by for 
                        EMERGENCY TRAFFIC. 
                    </h4>
                </div>
                <br>
                <div>
                    <h4>Are there any announcements to come before the net? Come now with your first name and call sign.</h4>
                        <h4><em>**PAUSE**</em></h4>
                    <h4>(Take the list and decide when the announcements will be made). Also ask if there are questions.</h4>
                </div>
                <br>
                <div>
                    <h4>
                        Are there any health items about SMARC members to come before the net? Please come now with your 
                        first name and call sign. <em>**PAUSE**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        At this time all SMARC members and others please stand by for check-ins. Please wait for the 
                        previous station to be recognized before checking in. We will begin our check-ins with HAND HELD radios, 
                        MOBILE OPERATORS, and stations operating on emergency power. As originally stated this net is open to all 
                        licensed amateur operators.
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This is 
                        <% foundNet.forEach(function(net){ %>
                                    <% if(net.date === today){ %>
                                        <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %>
                         your net control station. Please come now with your fist name, call sign, location, and
                         let us know if you are a member of SMARC. <em>**PAUSE FOR CHECKINS**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ %>
                                <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %> 
                        your NCS taking check-ins from any and all stations. Please come with 
                        your first name, call sign, location and let us know if you are a SMARC member.<em>**PAUSE FOR MORE CHECKINS**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        Thanks to the SMARC Repeater Committee:
                    </h4>
                    <h5>Kurt Meltzer, KC4NX</h5>
                    <h5>Bob Wilson, KK4XA</h5>
                    <h5>Carroll Peabody, W4PCA</h5>
                    <h5>Jordan Webb, K4AVG</h5>
                </div>
                <br>
                <div>
                    <h4>
                    Also, thanks to Tim Berry, WB4GBI, for the use of his repeater 146.625 MHz. If the SMARC repeater is not operational; please tune to 146.625 
                    toned to 118.8 Hz.
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        There were (# of checkins) check-ins tonight. Thanks to everyone and 73's until next week. 
                        <% for(var i = 0; i < foundNet.length; i++){ %>
                            <% if(foundNet[i].date === today){ %>
                                <%= foundNet[i].ncs.username.toUpperCase() %>
                            <% } %>
                        <% } %> 
                    </h4>
                </div>
            </div>
                <div class="col-md-4 col-sm-12 text-center">
                    <h1 class="text-center">Net Control Station Schedule</h1>
                    <hr>
                    <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true){ %>
                        <a class="btn btn-primary btn-sm mb-2" href="/info/netscript/netscriptcollection/new">New NCS</a>
                    <% } %>
                    <div class="">
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date >= today){ %>
                                <% if(net.ncs){ %>
                        <div class="card mb-2">
                            <div class="card-header">
                                <h4>
                                    <%= net.date %>
                                </h4>
                                <p>
                                    <%= net.ncs.firstName %>
                                </p>
                                <p>
                                    <%= net.ncs.username.toUpperCase() %>
                                </p>
                            
                               <div class="card-body">
                                   <div class="text-center">
                                       <img class="img-fluid" src="<%= net.ncs.profileImage %>" alt="">
                                   </div>
                               </div>
                            </div>
                            <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                            <a href="/info/netscript/netscriptcollection/<%= net._id %>" class="glyphicon glyphicon-pencil">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>
                            </a>
                            <% } %>
                        </div>
                            <% } %>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script> 
        // Here the value is stored in new variable x  
  
        function myFunction() { 
            var myCall =  
                document.getElementById("myCall").value; 
            
            document.getElementById( 
              "myCall").innerHTML = myCall; 
        } 
    </script> 

<% include ../partials/footer %>