<% include ../partials/header %>
<div class="page-center">
    <div class="container">
        <div class="row form-media">
        <% include ../partials/sidebar %>
        <div class="form-media">
            <div class="col-md-8 col-sm-12 form-media well well-lg">
                <h1 class="title-center">Smoky Mountain Amateur Radio Club</h1>
                <h2 class="title-center">SMARC Net Control Station Procedure</h2>
                <hr>
                <div>
                    <h4>
                        This is 
                                <% for(var i = 0; i < foundNet.length; i++){ %>
                                    <% if(foundNet[i].date === today){ %>
                                        <%= foundNet[i].ncs.username.toUpperCase() %>
                                    <% } %>
                                <% } %> 
                        calling the SMARC (W4OLB - 146.655 Mhz toned to 100 Mhz)
                        is this frequency in use? <em>**PAUSE**</em> I am your Net Control Station (NCS) 
                        for this session and my name is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ var firstName = net.ncs.firstName.toUpperCase() %>
                                <%= firstName %>.
                            <% } %>
                        <% }) %>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This net is currently activated as an open net to all SMARC members and hams 
                        who are interested in promoting the hobby. This is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ %>
                                <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %>
                         standing by for 
                        EMERGENCY TRAFFIC. 
                    </h4>
                </div>
                <br>
                <div>
                    <h4>Are there any announcements to come before the net? Come now with your first name and call sign.</h4>
                        <h4><em>**PAUSE**</em></h4>
                    <h4>(Take the list and decide when the announcements will be made). Also ask if there are questions.</h4>
                </div>
                <br>
                <div>
                    <h4>
                        Are there any health items about SMARC members to come before the net? Please come now with your 
                        first name and call sign. <em>**PAUSE**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        At this time all SMARC members and others please stand by for check-ins. Please wait for the 
                        previous station to be recognized before checking in. We will begin our check-ins with HAND HELD radios, 
                        MOBILE OPERATORS, and stations operating on emergency power. As originally stated this net is open to all 
                        licensed amateur operators.
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This is 
                        <% foundNet.forEach(function(net){ %>
                                    <% if(net.date === today){ %>
                                        <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %>
                         your net control station. Please come now with your fist name, call sign, location, and
                         let us know if you are a member of SMARC. <em>**PAUSE FOR CHECKINS**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        This is 
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date === today){ %>
                                <%= net.ncs.username.toUpperCase() %>
                            <% } %>
                        <% }) %> 
                        your NCS taking check-ins from any and all stations. Please come with 
                        your first name, call sign, location and let us know if you are a SMARC member.<em>**PAUSE FOR MORE CHECKINS**</em>
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        Thanks to the SMARC Repeater Committee:
                    </h4>
                    <h5>Kurt Meltzer, KC4NX</h5>
                    <h5>Bob Wilson, KK4XA</h5>
                    <h5>Carroll Peabody, W4PCA</h5>
                    <h5>Jordan Webb, K4AVG</h5>
                    <h5>Tom Jenkinson, WB7TLW</h5>
                </div>
                <br>
                <div>
                    <h4>
                    Also, thanks to Tim Berry, WB4GBI, for the use of his repeater 146.625 MHz. If the SMARC repeater is not operational; please tune to 146.625 
                    toned to 118.8 Hz.
                    </h4>
                </div>
                <br>
                <div>
                    <h4>
                        There were (# of checkins) check-ins tonight. Thanks to everyone and 73's until next week. 
                        <% for(var i = 0; i < foundNet.length; i++){ %>
                            <% if(foundNet[i].date === today){ %>
                                <%= foundNet[i].ncs.username.toUpperCase() %>
                            <% } %>
                        <% } %> 
                    </h4>
                </div>
            </div>
                <div class="col-md-4 col-sm-12 title-center">
                    <h1 class="title-center">Net Control Station Schedule</h1>
                    <hr>
                    <% if(!currentUser){ %>
                    <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                        <a class="btn btn-primary btn-sm" href="/info/netscript/netscriptcollection/new">New NCS</a>
                    <% } else { %>
                    <% } %>
                    <div class="form-media">
                        <% foundNet.forEach(function(net){ %>
                            <% if(net.date >= today){ %>
                        <div class="well well-sm">
                            <h4>
                                <%= net.date %>
                            </h4>
                            <p>
                                <%= net.ncs.firstName %>
                            </p>
                            <p>
                                <%= net.ncs.username.toUpperCase() %>
                            </p>
                            <div class="container">
                                <div class="text-center">
                                    <img class="net-img" src="<%= net.ncs.profileImage %>" alt="">
                                </div>
                            </div>
                            <% if(currentUser && currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                            <a href="/info/netscript/netscriptcollection/<%= net._id %>" class="glyphicon glyphicon-pencil"></a>
                            <% } %>
                        </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<script> 
        // Here the value is stored in new variable x  
  
        function myFunction() { 
            var myCall =  
                document.getElementById("myCall").value; 
            
            document.getElementById( 
              "myCall").innerHTML = myCall; 
        } 
    </script> 

<% include ../partials/footer %>