<% include ../partials/header %>

<div class="page-center">
    <div class="container form-media">
        <div class="row">
            <div class="col-md-12">
                <% if(!currentUser){ %>
                <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                    <a class="btn btn-primary btn-sm" href="/info/officers/officerscollection/new">New Officer</a>
                    <hr>
                <% } else { %>
                <% } %>
            </div>
        </div>
        <div class="container">
        <div class="row text-center container">
        <% foundOfficers.forEach(function(officer){ %>
            <div class="col-md-4">
                <div class="thumbnail">
                   <div class="caption">
                            <h3><%= officer.title %></h3>
                            <% if(!currentUser){ %>
                            <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                            <a class="glyphicon glyphicon-pencil" href="/info/officers/officerscollection/<%= officer._id %>"></a>
                            <% } else { %>
                            <% } %>
                        <img src="<%= officer.pictureLoc %>">
                        <h4><%= officer.name %></h4>
                        <h4><%= officer.callsign %></h4>
                   </div>
                </div>
            </div>
        <% }); %>
        </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
