<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Home Entry</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/home/<%= foundHome.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <h4>Title</h4>
                    <input class="form-control" type="text" name="title" value="<%= foundHome.title %>">
                </div>
                <div class="form-group">
                        <h4>Text</h4>
                    <textarea id="todo" class="form-control" type="text" name="body" rows="4" cols="50" value=""><%= foundHome.body %></textarea>
                </div>
                <h4>Link 1</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="link1name" placeholder="Link 1 Name" value="<%= foundHome.link1name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="link1" value="<%= foundHome.link1 %>">
                </div>
                <div class="form-group">
                <h4>Link 2</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="link2name" placeholder="Link 2 Name" value="<%= foundHome.link2name %>">
                </div>
                    <input class="form-control" type="text" name="link2" value="<%= foundHome.link2 %>">
                </div>
                <div class="form-group">
                        <h4>Image 1</h4>
                    <input class="form-control" type="text" name="image1" value=" <%= foundHome.image1 %>">
                </div>
                <div class="form-group">
                    <h4>Image 2</h4>
                <input class="form-control" type="text" name="image2" value="<%= foundHome.image2 %>">
                </div>
                <div class="form-group">
                        <h4>Image 3</h4>
                    <input class="form-control" type="text" name="image3" value="<%= foundHome.image3 %>">
                </div>
                <div class="form-group">
                    <h4>Order</h4>
                    <input class="form-control" type="text" name="order" value="<%= foundHome.order %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <form id="delete-form" action="/home/<%= foundHome.id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <a href="/home/">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/adminfooter %>
