<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit Officers</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/info/officers/officerscollection/<%= foundOfficer._id %>?_method=PUT" method="POST" encType="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" value="<%= foundOfficer.title %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= foundOfficer.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="callsign" value="<%= foundOfficer.callsign %>">
                </div>
                <div class="form-group">
                    <input type="file" name="officerPicture">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <form id="delete-form" action="/info/officers/officerscollection/<%= foundOfficer.id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
            </form>
            <a href="/info/officers/">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
