<% include ../partials/header %>

<div class="container mt-3">
  <div class="row">
    <% include ../partials/sidebar %>
  </div>
</div>

<div class="container-fluid mt-5">
    <div class="row mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">New Applications</h1>
            </div>
        </div>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Date Modified</th>
                <th scope="col">Name</th>
                <th scope="col">Callsign</th>
                <th scope="col">Class</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Birthday</th>
                <th scope="col">ARRL</th>
                <th scope="col">Dues Year</th>
                <th scope="col">Dues Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% apps.forEach((app) => { %>
                <% if(app.new){ %>
                    <tr>
                      <th scope="row"><%= app.lastUpdated %></th>
                      <th><%= app.lastName %>, <%= app.firstName %></th>
                      <td><%= app.callsign.toUpperCase() %></td>
                      <td><%= app.class %></td>
                      <td><%= app.address %> <%= app.city %>, <%= app.state %> <%= app.zip %></td>
                      <td><%= app.phone %></td>
                      <td><%= app.email %></td>
                      <td><%= app.birthDate %></td>
                      <td><% if(app.arrl){ %> Yes <% } else { %> No <% } %></td>
                          <form action="/application/roster/<%= app._id %>?_method=PUT" method="POST">
                            <td>
                              <select class="form-control" name="duesPaidYear">
                                <option>Select a year...</option>
                                <% years.forEach((y) => { %>
                                  <option value="<%= y %>"><%= y %></option>
                                <% }) %>
                              </select>
                            </td>
                            <td>
                              <select class="form-control" name="status" onchange="submit()">
                                <option value="true" id="status" <% if(app.status){ %> selected <% } %> >Paid</option>
                                <option value="false" <% if(!app.status){ %> selected <% } %> >Not Paid</option>
                              </select>
                            </td>
                          </form>
                      <td>
                        <form action="/application/roster/<%= app._id %>?_method=DELETE" method="POST">
                            <button class="no-button" onclick="return confirm('Are you sure you wish to delete this Application? All account data will be removed.');">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                    </tr>
                <% } %>
              <% }) %>
            </tbody>
          </table>
    </div>
    <div class="row mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Paid Members</h1>
            </div>
        </div>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Date Modified</th>
                <th scope="col">Name</th>
                <th scope="col">Callsign</th>
                <th scope="col">Class</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Birthday</th>
                <th scope="col">ARRL</th>
                <th scope="col">Dues Year</th>
                <th scope="col">Dues Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% apps.forEach((app) => { %>
                <% if(app.status){ %>
                    <tr>
                      <td scope="row"><%= app.lastUpdated %></td>
                      <td><%= app.lastName %>, <%= app.firstName %></td>
                      <td><%= app.callsign.toUpperCase() %></td>
                      <td><%= app.class %></td>
                      <td><%= app.address %> <%= app.city %>, <%= app.state %> <%= app.zip %></td>
                      <td><%= app.phone %></td>
                      <td><%= app.email %></td>
                      <td><%= app.birthDate %></td>
                      <td><% if(app.arrl){ %> Yes <% } else { %> No <% } %></td>
                        <form action="/application/roster/<%= app._id %>?_method=PUT" method="POST">
                          <td>
                            <select class="form-control" name="duesPaidYear">
                              <% years.forEach((y) => { %>
                                <option <% if(app.duesPaidYear == y){ %> selected <% } %> value="<%= y %>"><%= y %></option>
                              <% }) %>
                            </select>
                          </td>
                          <td>
                            <select class="form-control" name="status" onchange="submit()">
                              <option value="true" id="status" <% if(app.status){ %> selected <% } %> >Paid</option>
                              <option value="false" <% if(!app.status){ %> selected <% } %> >Not Paid</option>
                            </select>
                          </td>
                        </form>
                      <td>
                        <form action="/application/roster/<%= app._id %>?_method=DELETE" method="POST">
                            <button class="no-button" onclick="return confirm('Are you sure you wish to delete this Application? All account data will be removed.');">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </form>
                      </td>
                    </tr>
                <% } %>
              <% }) %>
            </tbody>
          </table>
    </div>
    <div class="row mt-3">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Non-Renewed Members</h1>
            </div>
        </div>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Date Modified</th>
                <th scope="col">Name</th>
                <th scope="col">Callsign</th>
                <th scope="col">Class</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Birthday</th>
                <th scope="col">ARRL</th>
                <th scope="col">Dues Year</th>
                <th scope="col">Dues Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% apps.forEach((app) => { %>
                <% if(!app.new && !app.status){ %>
                    <tr>
                      <th scope="row"><%= app.lastUpdated %></th>
                      <th><%= app.lastName %>, <%= app.firstName %></th>
                      <td><%= app.callsign.toUpperCase() %></td>
                      <td><%= app.class %></td>
                      <td><%= app.address %> <%= app.city %>, <%= app.state %> <%= app.zip %></td>
                      <td><%= app.phone %></td>
                      <td><%= app.email %></td>
                      <td><%= app.birthDate %></td>
                      <td><% if(app.arrl){ %> Yes <% } else { %> No <% } %></td>
                          <form action="/application/roster/<%= app._id %>?_method=PUT" method="POST">
                            <td>
                            <select class="form-control" name="duesPaidYear">
                              <% years.forEach((y) => { %>
                                <option <% if(app.duesPaidYear == y){ %> selected <% } %> value="<%= y %>"><%= y %></option>
                              <% }) %>
                            </select>
                          </td>
                            <td>
                              <select class="form-control" name="status" onchange="submit()">
                                <option value="true" id="status" <% if(app.status){ %> selected <% } %> >Paid</option>
                                <option value="false" <% if(!app.status){ %> selected <% } %> >Not Paid</option>
                              </select>
                            </td>
                          </form>
                      <td>
                        <form action="/application/roster/<%= app._id %>?_method=DELETE" method="POST">
                            <button class="no-button" onclick="return confirm('Are you sure you wish to delete this Application? All account data will be removed.');">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </button>
                        </form>
                      </td>
                    </tr>
                <% } %>
              <% }) %>
            </tbody>
          </table>
    </div>
</div>

<script>
    function submit(){
        var myform = document.getElementById("status");
        myform.submit();
    }
</script>

<script>
    function ConfirmDelete(){
      return confirm("Are you sure you wish to delete this user account? All account data will be removed.");
      console.log(confirm)
    }
</script>  

<% include ../partials/footer %>