<% include ../partials/header %>
<div class="container">
        <% if(currentUser && currentUser.isAdmin && currentUser.showAdmin) { %>
            <div class="modal fade" id="edit<%= repeater.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">New Minutes</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/repeaters/<%= repeater.id %>?_method=PUT" method="POST" encType="multipart/form-data">
                                  <div class="input-group mt-3">
                                          <label class="input-group-text" for="">Frequency</label>
                                          <input class="form-control" type="text" value="<%= repeater.title %>" name="title" required>
                                  </div>
                                  <div class="input-group mt-3">
                                    <label class="input-group-text" for="">Search URL (Do Not Change)</label>
                                    <input class="form-control" type="text" value="<%= repeater.searchUrl %>" name="searchUrl" required>
                                  </div>
                                  <div class="input-group mt-3">
                                          <textarea class="form-control" type="text" name="body" id="htmeditor"><%- repeater.body %></textarea><script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="htmeditor" full_screen="no" editor_height="480" run_local="no"> </script> 
                                  </div>
                                  <div class="form-group mt-3 text-center">
                                          <button class="btn btn-primary btn-block">Submit</button>
                                  </div>
                            </form>
                        </div>
                        <hr>
                        <div>
                            <form action="/repeaters/<%= repeater.id %>?_method=DELETE" method="POST" class="text-center">
                                <button type="submit" class="no-button" onclick="ConfirmDelete()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="row mt-3">
            <div class="col">
                <h1 class="text-center">
                    <%= repeater.title %>
                    <% if(currentUser && currentUser.isAdmin && currentUser.showAdmin){ %>
                        <button type="button" class="no-button" data-bs-toggle="modal" data-bs-target="#edit<%= repeater.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>
                    <% } %>
                </h1>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                <%- repeater.body %>
            </div>
        </div>
</div>

<% include ../partials/footer %>

<script>
    function ConfirmDelete()
    {
      var x = confirm("Are you sure you wish to delete this?");
      if (x)
          return true;
      else
        return false;
    }
</script>   