<% include ../../partials/header %>
    

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Admin</h1>
            <hr>
            <h3>Please use caution when editing this page!</h3>
            <p>If you don't know what something does, don't touch it.</p>
            <hr>
            <div class="text-center">
            <% users.forEach(function(user){ %>
            <div class="">
                <form action="/register/<%= user.id %>?_method=PUT" method="POST">
                    <div class="row input-group">
                        <div class="col">
                            <h4>Call Sign</h4>
                            <a href="/members/<%= user.id %>/edit"><p><%= user.username.toUpperCase() %></p></a>
                        </div>
                        <div class="col">
                            <h4>Name</h4>
                            <p><%= user.firstName %> <%= user.lastName %></p>
                        </div>
                        <div class="col">
                            <h4>Email</h4>
                            <input type="text" class="form-control" name="email" value="<%= user.email %>">
                        </div>
                        <div class="col">
                            <h4>Admin</h4>
                            <select class="form-select" name="admin">
                                <option value="true" <% if(user.isAdmin === true){ %> selected <% } %>>Yes</option>
                                <option value="false" <% if(user.isAdmin === false){ %> selected <% } %>>No</option>
                            </select>
                        </div>
                        <div class="col">
                            <h4>Member</h4>
                            <select class="form-select" name="member">
                                <option value="true" <% if(user.isMember === true){ %> selected <% } %>>Yes</option>
                                <option value="false" <% if(user.isMember === false){ %> selected <% } %>>No</option>
                            </select>
                        </div>
                        <div class="col">
                            <h4>NCS</h4>
                            <select class="form-select" name="ncs">
                                <option value="true" <% if(user.ncs === true){ %> selected <% } %>>Yes</option>
                                <option value="false" <% if(user.ncs === false){ %> selected <% } %>>No</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <div class="col">
                            <button class="btn btn-md btn-primary btn-block mt-4">Submit</button>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        <% }) %>
    </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>