<% include ../../partials/header %>

<div class="page-center">
<div class="container">
    <h1 class="text-center">Member Documents</h1>
    <div class="row">
        <div class=col-md-12>
          <% if(!currentUser){ %>
          <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
              <a class="btn btn-primary btn-sm" href="/info/docs/new">New Document</a>
          <% } else { %>
          <% } %>
        </div>
      </div>
      <div class="form-media">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
           <% foundDocs.reverse().forEach(function(docs){ %>
               <div class="col-md-3 col-sm-6">
                   <div class="thumbnail">
                      <div class="caption">
                        <h4><%= docs.title %></h4>
                        <h5><%= docs.date %></h5>
                        <div>
                          <a href="<%= docs.docLoc %>"><button class="btn btn-md btn-primary">View Document</button></a>
                        </div>
                        <div>
                          <a href="<%= docs.docLoc %>" download="<%= docs.title %>">Download</a>
                        </div>
                      </div>
                      <% if(!currentUser){ %>
                      <% } else if(currentUser.isAdmin === true && currentUser.showAdmin === true) { %>
                          <a href="/info/docs/<%= docs._id %>" class="glyphicon glyphicon-pencil"></a>
                      <% } else { %>
                      <% } %>
                   </div>
               </div>
           <% }); %>
       </div>
     </div>
   </div>
</div>
<% include ../../partials/footer %>
